In [1]:
import pandas as pd
from dataclasses import dataclass

In [2]:
xlsx = pd.ExcelFile("NAZ CornDataBook 9.7 09 27.xlsx")

In [3]:
customers_demand_data = pd.read_excel(xlsx, 'Customers Demand')
customers_demand_data.head()

,Quarter \ Year,Period Group,Customer Name,Product Name,Product Group,Base Demand,Optimistic Demand,Pessimistic Demand,Check Period Group,Check Product Group
0,Jan Year 2022,NaN,01BV,Grits,NaN,24000.0,NaN,NaN,NaN,NaN
1,Feb Year 2022,NaN,01BV,Grits,NaN,20000.0,NaN,NaN,NaN,NaN
2,Mar Year 2022,NaN,01BV,Grits,NaN,22000.0,NaN,NaN,NaN,NaN
3,Apr Year 2022,NaN,01BV,Grits,NaN,20000.0,NaN,NaN,NaN,NaN
4,May Year 2022,NaN,01BV,Grits,NaN,22000.0,NaN,NaN,NaN,NaN

In [4]:
customers_demand_data.drop_duplicates(subset=["Customer Name","Product Name"], keep="last", inplace=True)

In [5]:
customers_demand_data = customers_demand_data.iloc[:, [2,3,5]]

In [6]:
customers_demand_data

    Customer Name Product Name  Base Demand
11           01BV        Grits     14258.81
23           01CV        Grits     28973.35
35           01CL        Grits      9848.71
47           01FF        Grits     10310.96
59           01FC        Grits     22861.20
71           01HT        Grits     28063.81
83           01JK        Grits     10000.39
95           01LA        Grits     12715.60
107          01MM        Grits      2530.03
119          01NW        Grits      9734.68
131          01SL        Grits     65684.59
143          01WM        Grits     27664.53
155          01BV         DE95     11138.81
166          01CV         DE95      5622.82
178          01CL         DE95     28822.71
190          01JK         DE95     21625.98
195          01LA         DE95      5000.00
207          01BV         HFCS      1910.70
219          01CV         HFCS      3498.31
228          01LA         HFCS       681.01

In [7]:
customers_demand_data["Customer Name"].unique()

array(['01BV', '01CV', '01CL', '01FF', '01FC', '01HT', '01JK', '01LA',
       '01MM', '01NW', '01SL', '01WM'], dtype=object)

In [8]:
suppliers_capacity_data = pd.read_excel(xlsx, 'Suppliers Capacity')
suppliers_capacity_data.head()

,Quarter \ Year,Period Group,Supplier Name,Supplier Group,Product Name,Product Group,Constraint Type,Capacity (contracted for ABI),M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Check Period Group,Check Supplier Group,Check Product Group,Unnamed: 17
0,Jan Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,134400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
1,Feb Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,128000.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
2,Mar Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,142400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
3,Apr Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,118400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
4,May Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,118400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1

In [9]:
suppliers_capacity_data.drop_duplicates(subset=["Supplier Name","Product Name"], keep="last", inplace=True)

In [10]:
suppliers_capacity_data = suppliers_capacity_data.iloc[:, [2,4,7]]

In [11]:
suppliers_capacity_data

,Supplier Name,Product Name,Capacity (contracted for ABI)
11,Bunge - Danville,Grits,107200.000000
23,Bunge - Crete,Grits,8000.000000
35,Bunge - Atchison,Grits,8000.000000
47,Didion Milling,Grits,67304.306667
59,Iowa Corn Processors (Contract),Grits,42878.146667
71,Iowa Corn Processors (Intermediate),Grits,37515.940000
83,Cargill - Eddyville,DE95,3953.840000
95,Tate & Lyle - Decatur,DE95,66451.953333
107,Tate & Lyle - Loudon,DE95,3796.833333
119,Ingredion - Argo,DE95,9533.333333
131,Tate & Lyle - Lafayette,HFCS,1695.246667
143,Tate & Lyle - Loudon,HFCS,2348.060000
155,Ingredion - Argo,HFCS,6306.666667

In [12]:
production_cost_data = pd.read_excel(xlsx, 'Production Cost')
production_cost_data.head()

,Period,Supplier Name,Product Name,Production Cost (EXW),M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Commodity Cost,Other Costs,Check Duplication,Cost Check
0,Jan Year 2022,Bunge - Danville,Grits,15.612400,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
1,Feb Year 2022,Bunge - Danville,Grits,15.612400,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
2,Mar Year 2022,Bunge - Danville,Grits,16.818321,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
3,Apr Year 2022,Bunge - Danville,Grits,19.280410,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
4,May Year 2022,Bunge - Danville,Grits,19.520478,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK

In [13]:
production_cost_data.drop_duplicates(subset=["Supplier Name","Product Name"], keep="last", inplace=True)

In [14]:
production_cost_data = production_cost_data.iloc[:,1:4]

In [15]:
production_cost_data

                           Supplier Name Product Name  Production Cost (EXW)
11                      Bunge - Danville        Grits              16.445911
23                         Bunge - Crete        Grits              16.445911
35                      Bunge - Atchison        Grits              16.445911
47                        Didion Milling        Grits              15.234553
59       Iowa Corn Processors (Contract)        Grits              16.059635
71   Iowa Corn Processors (Intermediate)        Grits              16.340968
83                  Cargill - Eddyville          DE95              16.420000
95                Tate & Lyle - Decatur          DE95              14.530000
107                Tate & Lyle - Loudon          DE95              15.670000
119                     Ingredion - Argo         DE95              16.730000
131             Tate & Lyle - Lafayette          HFCS              18.090000
143                Tate & Lyle - Loudon          HFCS              19.340000
155                     Ingredion - Argo         HFCS              17.670000

In [16]:
@dataclass
class Product:
    name: str
    supplier: str
    cost: float
    
    def __init__(self, name, supplier, cost):
        self.name = name
        self.supplier = supplier
        self.cost = cost

In [17]:
products = {}

for prod_name in production_cost_data["Product Name"].unique() :
    products[prod_name] = []
    
products

{'Grits': [], 'DE95': [], 'HFCS': []}

In [18]:
for prod_index, prod_row in production_cost_data.iterrows():
    products[prod_row["Product Name"]].append(Product(prod_row["Product Name"], prod_row["Supplier Name"], prod_row["Production Cost (EXW)"]))

In [19]:
products

{'Grits': [Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256),
  Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256),
  Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256),
  Product(name='Grits', supplier='Didion Milling', cost=15.234553000863412),
  Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962),
  Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)],
 'DE95': [Product(name='DE95', supplier='Cargill - Eddyville ', cost=16.42),
  Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53),
  Product(name='DE95', supplier='Tate & Lyle - Loudon ', cost=15.67),
  Product(name='DE95', supplier='Ingredion - Argo', cost=16.73)],
 'HFCS': [Product(name='HFCS', supplier='Tate & Lyle - Lafayette ', cost=18.09),
  Product(name='HFCS', supplier='Tate & Lyle - Loudon ', cost=19.34),
  Product(name='HFCS', supplier='Ingredion - Argo', cost=17.67)]}

In [20]:
transportation_cost_data = pd.read_excel(xlsx, 'Transportation Cost')
transportation_cost_data.head()

,Site From,Site To,Product Name,Product Group,Mode of Transport,Transportation Cost,M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Cost Land,Cost Ocean,Cost Check,Check Product Group,Check Duplication
0,Bunge - Atchison,01BV,Grits,NaN,NaN,6.53,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,1.0
1,Bunge - Atchison,01CV,Grits,NaN,NaN,7.55,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
2,Bunge - Atchison,01CL,Grits,NaN,NaN,4.68,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
3,Bunge - Atchison,01FF,Grits,NaN,NaN,6.77,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
4,Bunge - Atchison,01FC,Grits,NaN,NaN,4.24,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN

In [21]:
@dataclass
class Lane(): 
    customer: str
    supplier: str
    transport_cost: float
    product: Product
        
    def __init__(self, customer, supplier, transport_cost, product):
        self.customer = customer
        self.supplier = supplier
        self.transport_cost = transport_cost
        self.product = product

In [22]:
lanes = []

for tran_index, tran_row in transportation_cost_data.iterrows():
    for product in products[tran_row["Product Name"]] :
        if (product.supplier == tran_row["Site From"]) :
            lanes.append(Lane(tran_row["Site To"], tran_row["Site From"], tran_row["Transportation Cost"], product))

In [23]:
lanes

[Lane(customer='01BV', supplier='Bunge - Atchison', transport_cost=6.53, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01CV', supplier='Bunge - Atchison', transport_cost=7.55, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01CL', supplier='Bunge - Atchison', transport_cost=4.68, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01FF', supplier='Bunge - Atchison', transport_cost=6.77, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01FC', supplier='Bunge - Atchison', transport_cost=4.24, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01HT', supplier='Bunge - Atchison', transport_cost=3.5, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01JK', supplier='Bunge - Atchison', transport_cost=8.15, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01LA', supplier='Bunge - Atchison', transport_cost=6.77, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01MM', supplier='Bunge - Atchison', transport_cost=8.6, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01NW', supplier='Bunge - Atchison', transport_cost=6.66, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01SL', supplier='Bunge - Atchison', transport_cost=2.72, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01WM', supplier='Bunge - Atchison', transport_cost=8.91, product=Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256)),
 Lane(customer='01BV', supplier='Bunge - Crete', transport_cost=6.95, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01CV', supplier='Bunge - Crete', transport_cost=6.84, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01CL', supplier='Bunge - Crete', transport_cost=6.45, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01FF', supplier='Bunge - Crete', transport_cost=6.77, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01FC', supplier='Bunge - Crete', transport_cost=3.09, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01HT', supplier='Bunge - Crete', transport_cost=3.5, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01JK', supplier='Bunge - Crete', transport_cost=7.53, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01LA', supplier='Bunge - Crete', transport_cost=6.74, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01MM', supplier='Bunge - Crete', transport_cost=7.32, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01NW', supplier='Bunge - Crete', transport_cost=5.39, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01SL', supplier='Bunge - Crete', transport_cost=2.5, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01WM', supplier='Bunge - Crete', transport_cost=9.05, product=Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256)),
 Lane(customer='01BV', supplier='Bunge - Danville', transport_cost=4.96, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01CV', supplier='Bunge - Danville', transport_cost=4.94, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01CL', supplier='Bunge - Danville', transport_cost=2.39, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01FF', supplier='Bunge - Danville', transport_cost=8.57, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01FC', supplier='Bunge - Danville', transport_cost=4.71, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01HT', supplier='Bunge - Danville', transport_cost=4.06, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01JK', supplier='Bunge - Danville', transport_cost=5.84, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01LA', supplier='Bunge - Danville', transport_cost=8.08, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01MM', supplier='Bunge - Danville', transport_cost=4.32, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01NW', supplier='Bunge - Danville', transport_cost=3.29, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01SL', supplier='Bunge - Danville', transport_cost=1.98, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01WM', supplier='Bunge - Danville', transport_cost=6.06, product=Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256)),
 Lane(customer='01LA', supplier='Cargill - Eddyville ', transport_cost=5.65, product=Product(name='DE95', supplier='Cargill - Eddyville ', cost=16.42)),
 Lane(customer='01BV', supplier='Ingredion - Argo', transport_cost=2.15, product=Product(name='DE95', supplier='Ingredion - Argo', cost=16.73)),
 Lane(customer='01BV', supplier='Ingredion - Argo', transport_cost=5.63, product=Product(name='HFCS', supplier='Ingredion - Argo', cost=17.67)),
 Lane(customer='01FF', supplier='Iowa Corn Processors (Contract)', transport_cost=4.61, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01FC', supplier='Iowa Corn Processors (Contract)', transport_cost=3.28, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01HT', supplier='Iowa Corn Processors (Contract)', transport_cost=3.56, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01JK', supplier='Iowa Corn Processors (Contract)', transport_cost=5.8, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01LA', supplier='Iowa Corn Processors (Contract)', transport_cost=4.79, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01SL', supplier='Iowa Corn Processors (Contract)', transport_cost=2.81, product=Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962)),
 Lane(customer='01FF', supplier='Iowa Corn Processors (Intermediate)', transport_cost=4.61, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01FC', supplier='Iowa Corn Processors (Intermediate)', transport_cost=3.28, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01HT', supplier='Iowa Corn Processors (Intermediate)', transport_cost=3.56, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01JK', supplier='Iowa Corn Processors (Intermediate)', transport_cost=5.8, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01LA', supplier='Iowa Corn Processors (Intermediate)', transport_cost=4.79, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01SL', supplier='Iowa Corn Processors (Intermediate)', transport_cost=2.81, product=Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511)),
 Lane(customer='01CV', supplier='Tate & Lyle - Decatur ', transport_cost=1.66, product=Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53)),
 Lane(customer='01CL', supplier='Tate & Lyle - Decatur ', transport_cost=3.9, product=Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53)),
 Lane(customer='01JK', supplier='Tate & Lyle - Decatur ', transport_cost=3.44, product=Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53)),
 Lane(customer='01LA', supplier='Tate & Lyle - Lafayette ', transport_cost=7.49, product=Product(name='HFCS', supplier='Tate & Lyle - Lafayette ', cost=18.09)),
 Lane(customer='01CV', supplier='Tate & Lyle - Loudon ', transport_cost=1.66, product=Product(name='DE95', supplier='Tate & Lyle - Loudon ', cost=15.67)),
 Lane(customer='01CV', supplier='Tate & Lyle - Loudon ', transport_cost=1.66, product=Product(name='HFCS', supplier='Tate & Lyle - Loudon ', cost=19.34))]

In [24]:
@dataclass
class Customer:
    name: str
    product_demand: list
    
    def __init__(self, name, product_demand):
        self.name = name
        self.product_demand = product_demand

In [25]:
customers_dict = {}

for name in customers_demand_data["Customer Name"].unique() :
    customers_dict[name] = []

In [26]:
for i, row in customers_demand_data.iterrows() :
    customers_dict[row["Customer Name"]].append((row["Product Name"], row["Base Demand"]))

In [27]:
customers_dict

{'01BV': [('Grits', 14258.81), ('DE95', 11138.81), ('HFCS', 1910.7)],
 '01CV': [('Grits', 28973.35), ('DE95', 5622.82), ('HFCS', 3498.31)],
 '01CL': [('Grits', 9848.71), ('DE95', 28822.71)],
 '01FF': [('Grits', 10310.96)],
 '01FC': [('Grits', 22861.2)],
 '01HT': [('Grits', 28063.81)],
 '01JK': [('Grits', 10000.39), ('DE95', 21625.98)],
 '01LA': [('Grits', 12715.6), ('DE95', 5000.0), ('HFCS', 681.01)],
 '01MM': [('Grits', 2530.03)],
 '01NW': [('Grits', 9734.68)],
 '01SL': [('Grits', 65684.59)],
 '01WM': [('Grits', 27664.53)]}

In [28]:
customers = []

for key, value in customers_dict.items():
    customers.append(Customer(key, value))

In [38]:
customers

Customer(name='01BV', product_demand=[('Grits', 14258.81), ('DE95', 11138.81), ('HFCS', 1910.7)])

In [30]:
@dataclass
class Supplier:
    name: str
    product_capacity: list
    
    def __init__(self, name, product_capacity):
        self.name = name
        self.product_capacity = product_capacity

In [31]:
suppliers_dict = {}

for name in suppliers_capacity_data["Supplier Name"].unique() :
    suppliers_dict[name] = []

In [32]:
for i, row in suppliers_capacity_data.iterrows() :
    for product in products[row["Product Name"]] :
        if (product.supplier == row["Supplier Name"]) :
            suppliers_dict[row["Supplier Name"]].append((product, row["Capacity (contracted for ABI)"]))

In [33]:
suppliers_dict

{'Bunge - Danville': [(Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256),
   107200.0)],
 'Bunge - Crete': [(Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256),
   8000.0)],
 'Bunge - Atchison': [(Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256),
   8000.0)],
 'Didion Milling': [(Product(name='Grits', supplier='Didion Milling', cost=15.234553000863412),
   67304.30666666667)],
 'Iowa Corn Processors (Contract)': [(Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962),
   42878.146666666675)],
 'Iowa Corn Processors (Intermediate)': [(Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511),
   37515.94000000001)],
 'Cargill - Eddyville ': [(Product(name='DE95', supplier='Cargill - Eddyville ', cost=16.42),
   3953.84)],
 'Tate & Lyle - Decatur ': [(Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53),
   66451.95333333334)],
 'Tate & Lyle - Loudon ': [(Product(name='DE95', supplier='Tate & Lyle - Loudon ', cost=15.67),
   3796.8333333333335),
  (Product(name='HFCS', supplier='Tate & Lyle - Loudon ', cost=19.34),
   2348.0600000000004)],
 'Ingredion - Argo': [(Product(name='DE95', supplier='Ingredion - Argo', cost=16.73),
   9533.333333333332),
  (Product(name='HFCS', supplier='Ingredion - Argo', cost=17.67),
   6306.666666666668)],
 'Tate & Lyle - Lafayette ': [(Product(name='HFCS', supplier='Tate & Lyle - Lafayette ', cost=18.09),
   1695.2466666666667)]}

In [34]:
suppliers = []

for key, value in suppliers_dict.items():
    suppliers.append(Supplier(key, value))

In [36]:
suppliers

[Supplier(name='Bunge - Danville', product_capacity=[(Product(name='Grits', supplier='Bunge - Danville', cost=16.445910782616256), 107200.0)]),
 Supplier(name='Bunge - Crete', product_capacity=[(Product(name='Grits', supplier='Bunge - Crete', cost=16.445910782616256), 8000.0)]),
 Supplier(name='Bunge - Atchison', product_capacity=[(Product(name='Grits', supplier='Bunge - Atchison', cost=16.445910782616256), 8000.0)]),
 Supplier(name='Didion Milling', product_capacity=[(Product(name='Grits', supplier='Didion Milling', cost=15.234553000863412), 67304.30666666667)]),
 Supplier(name='Iowa Corn Processors (Contract)', product_capacity=[(Product(name='Grits', supplier='Iowa Corn Processors (Contract)', cost=16.05963522509962), 42878.146666666675)]),
 Supplier(name='Iowa Corn Processors (Intermediate)', product_capacity=[(Product(name='Grits', supplier='Iowa Corn Processors (Intermediate)', cost=16.34096765757511), 37515.94000000001)]),
 Supplier(name='Cargill - Eddyville ', product_capacity=[(Product(name='DE95', supplier='Cargill - Eddyville ', cost=16.42), 3953.84)]),
 Supplier(name='Tate & Lyle - Decatur ', product_capacity=[(Product(name='DE95', supplier='Tate & Lyle - Decatur ', cost=14.53), 66451.95333333334)]),
 Supplier(name='Tate & Lyle - Loudon ', product_capacity=[(Product(name='DE95', supplier='Tate & Lyle - Loudon ', cost=15.67), 3796.8333333333335), (Product(name='HFCS', supplier='Tate & Lyle - Loudon ', cost=19.34), 2348.0600000000004)]),
 Supplier(name='Ingredion - Argo', product_capacity=[(Product(name='DE95', supplier='Ingredion - Argo', cost=16.73), 9533.333333333332), (Product(name='HFCS', supplier='Ingredion - Argo', cost=17.67), 6306.666666666668)]),
 Supplier(name='Tate & Lyle - Lafayette ', product_capacity=[(Product(name='HFCS', supplier='Tate & Lyle - Lafayette ', cost=18.09), 1695.2466666666667)])]