In [35]:
import pandas as pd
from datetime import datetime as dt

In [6]:
xlsx = pd.ExcelFile("NAZ CornDataBook 9.7 09 27.xlsx")

In [14]:
suppliers_data = pd.read_excel(xlsx, 'Suppliers')
suppliers_data.head()

,Supplier Name,OWN or 3P,Suppier City,Supplier Country,Geo Latitude,Geo Longitude,Import/Domestic,Material Type
0,Bunge - Danville,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bunge - Crete,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bunge - Atchison,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Didion Milling,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Iowa Corn Processors (Contract),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
suppliers = list(suppliers_data["Supplier Name"])

In [15]:
customers_data = pd.read_excel(xlsx, 'Customers')
customers_data.head()

  Brewery Name  Brewery City  Brewery Country  Geo Latitude  Geo Longitude
0         01HT           NaN              NaN           NaN            NaN
1         01NW           NaN              NaN           NaN            NaN
2         01BV           NaN              NaN           NaN            NaN
3         01CL           NaN              NaN           NaN            NaN
4         01CV           NaN              NaN           NaN            NaN

In [18]:
customers = list(customers_data["Brewery Name"])

In [19]:
customers_demand_data = pd.read_excel(xlsx, 'Customers Demand')
customers_demand_data.head()

,Quarter \ Year,Period Group,Customer Name,Product Name,Product Group,Base Demand,Optimistic Demand,Pessimistic Demand,Check Period Group,Check Product Group
0,Jan Year 2022,NaN,01BV,Grits,NaN,24000.0,NaN,NaN,NaN,NaN
1,Feb Year 2022,NaN,01BV,Grits,NaN,20000.0,NaN,NaN,NaN,NaN
2,Mar Year 2022,NaN,01BV,Grits,NaN,22000.0,NaN,NaN,NaN,NaN
3,Apr Year 2022,NaN,01BV,Grits,NaN,20000.0,NaN,NaN,NaN,NaN
4,May Year 2022,NaN,01BV,Grits,NaN,22000.0,NaN,NaN,NaN,NaN

In [21]:
suppliers_capacity_data = pd.read_excel(xlsx, 'Suppliers Capacity')
suppliers_capacity_data.head()

,Quarter \ Year,Period Group,Supplier Name,Supplier Group,Product Name,Product Group,Constraint Type,Capacity (contracted for ABI),M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Check Period Group,Check Supplier Group,Check Product Group,Unnamed: 17
0,Jan Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,134400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
1,Feb Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,128000.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
2,Mar Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,142400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
3,Apr Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,118400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1
4,May Year 2022,NaN,Bunge - Danville,NaN,Grits,NaN,MIN,118400.0,Exclude,Include,Include,Include,Include,NaN,No Group Needed,No Group Needed,No Group Needed,1

In [22]:
production_cost_data = pd.read_excel(xlsx, 'Production Cost')
production_cost_data.head()

,Period,Supplier Name,Product Name,Production Cost (EXW),M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Commodity Cost,Other Costs,Check Duplication,Cost Check
0,Jan Year 2022,Bunge - Danville,Grits,15.612400,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
1,Feb Year 2022,Bunge - Danville,Grits,15.612400,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
2,Mar Year 2022,Bunge - Danville,Grits,16.818321,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
3,Apr Year 2022,Bunge - Danville,Grits,19.280410,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK
4,May Year 2022,Bunge - Danville,Grits,19.520478,Include,Include,Include,Include,Include,NaN,NaN,NaN,12.0,OK

In [23]:
transportation_cost_data = pd.read_excel(xlsx, 'Transportation Cost')
transportation_cost_data.head()

,Site From,Site To,Product Name,Product Group,Mode of Transport,Transportation Cost,M1 Flag,M2 Flag,M3 Flag,M4 Flag,M5 Flag,Notes,Cost Land,Cost Ocean,Cost Check,Check Product Group,Check Duplication
0,Bunge - Atchison,01BV,Grits,NaN,NaN,6.53,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,1.0
1,Bunge - Atchison,01CV,Grits,NaN,NaN,7.55,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
2,Bunge - Atchison,01CL,Grits,NaN,NaN,4.68,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
3,Bunge - Atchison,01FF,Grits,NaN,NaN,6.77,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN
4,Bunge - Atchison,01FC,Grits,NaN,NaN,4.24,Include,Include,Include,Include,Include,NaN,NaN,NaN,NaN,No Group Needed,NaN

In [46]:
@dataclass
class Product:
    name: str
    supplier: str
    cost: float
    time: str
    
    def __init__(self, name, supplier, cost, time):
        self.name = name
        self.supplier = supplier
        self.cost = cost
        self.time = time

In [44]:
products = []

for prod_index, prod_row in production_cost_data.iterrows():
    products.append(Product(prod_row["Product Name"], prod_row["Production Cost (EXW)"], prod_row["Supplier Name"], prod_row["Period"]))

In [45]:
products

[Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022'),
 Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Feb Year 2022'),
 Product(name='Grits', supplier=16.81832125, cost='Bunge - Danville', time='Mar Year 2022'),
 Product(name='Grits', supplier=19.28041046875, cost='Bunge - Danville', time='Apr Year 2022'),
 Product(name='Grits', supplier=19.520478125000004, cost='Bunge - Danville', time='May Year 2022'),
 Product(name='Grits', supplier=19.944783749999996, cost='Bunge - Danville', time='Jun Year 2022'),
 Product(name='Grits', supplier=20.302093749999997, cost='Bunge - Danville', time='Jul Year 2022'),
 Product(name='Grits', supplier=18.78352625, cost='Bunge - Danville', time='Aug Year 2022'),
 Product(name='Grits', supplier=18.773881523398156, cost='Bunge - Danville', time='Sep Year 2022'),
 Product(name='Grits', supplier=16.27715184255953, cost='Bunge - Danville', time='Oct Year 2022'),
 Product(name='Grits', supplier=16.349704999145125, cost='Bunge - Danville', time='Nov Year 2022'),
 Product(name='Grits', supplier=16.445910782616256, cost='Bunge - Danville', time='Dec Year 2022'),
 Product(name='Grits', supplier=15.277421875, cost='Bunge - Crete', time='Jan Year 2022'),
 Product(name='Grits', supplier=15.277421875, cost='Bunge - Crete', time='Feb Year 2022'),
 Product(name='Grits', supplier=16.483343125, cost='Bunge - Crete', time='Mar Year 2022'),
 Product(name='Grits', supplier=18.94543234375, cost='Bunge - Crete', time='Apr Year 2022'),
 Product(name='Grits', supplier=19.1855, cost='Bunge - Crete', time='May Year 2022'),
 Product(name='Grits', supplier=19.721464999999995, cost='Bunge - Crete', time='Jun Year 2022'),
 Product(name='Grits', supplier=20.302093749999997, cost='Bunge - Crete', time='Jul Year 2022'),
 Product(name='Grits', supplier=18.78352625, cost='Bunge - Crete', time='Aug Year 2022'),
 Product(name='Grits', supplier=18.773881523398156, cost='Bunge - Crete', time='Sep Year 2022'),
 Product(name='Grits', supplier=16.27715184255953, cost='Bunge - Crete', time='Oct Year 2022'),
 Product(name='Grits', supplier=16.349704999145125, cost='Bunge - Crete', time='Nov Year 2022'),
 Product(name='Grits', supplier=16.445910782616256, cost='Bunge - Crete', time='Dec Year 2022'),
 Product(name='Grits', supplier=15.277421875, cost='Bunge - Atchison', time='Jan Year 2022'),
 Product(name='Grits', supplier=15.277421875, cost='Bunge - Atchison', time='Feb Year 2022'),
 Product(name='Grits', supplier=16.483343125, cost='Bunge - Atchison', time='Mar Year 2022'),
 Product(name='Grits', supplier=18.94543234375, cost='Bunge - Atchison', time='Apr Year 2022'),
 Product(name='Grits', supplier=19.1855, cost='Bunge - Atchison', time='May Year 2022'),
 Product(name='Grits', supplier=19.721464999999995, cost='Bunge - Atchison', time='Jun Year 2022'),
 Product(name='Grits', supplier=20.302093749999997, cost='Bunge - Atchison', time='Jul Year 2022'),
 Product(name='Grits', supplier=18.78352625, cost='Bunge - Atchison', time='Aug Year 2022'),
 Product(name='Grits', supplier=18.773881523398156, cost='Bunge - Atchison', time='Sep Year 2022'),
 Product(name='Grits', supplier=16.27715184255953, cost='Bunge - Atchison', time='Oct Year 2022'),
 Product(name='Grits', supplier=16.349704999145125, cost='Bunge - Atchison', time='Nov Year 2022'),
 Product(name='Grits', supplier=16.445910782616256, cost='Bunge - Atchison', time='Dec Year 2022'),
 Product(name='Grits', supplier=14.2945499187, cost='Didion Milling', time='Jan Year 2022'),
 Product(name='Grits', supplier=14.436593951599999, cost='Didion Milling', time='Feb Year 2022'),
 Product(name='Grits', supplier=15.714990247700001, cost='Didion Milling', time='Mar Year 2022'),
 Product(name='Grits', supplier=17.723898713000004, cost='Didion Milling', time='Apr Year 2022'),
 Product(name='Grits', supplier=18.079008795249997, cost='Didion Milling', time='May Year 2022'),
 Product(name='Grits', supplier=18.56601690805, cost='Didion Milling', time='Jun Year 2022'),
 Product(name='Grits', supplier=18.515286896300005, cost='Didion Milling', time='Jul Year 2022'),
 Product(name='Grits', supplier=18.007986778800007, cost='Didion Milling', time='Aug Year 2022'),
 Product(name='Grits', supplier=17.34987888431068, cost='Didion Milling', time='Sep Year 2022'),
 Product(name='Grits', supplier=15.081209083042, cost='Didion Milling', time='Oct Year 2022'),
 Product(name='Grits', supplier=15.147134984670716, cost='Didion Milling', time='Nov Year 2022'),
 Product(name='Grits', supplier=15.234553000863412, cost='Didion Milling', time='Dec Year 2022'),
 Product(name='Grits', supplier=14.851510791475, cost='Iowa Corn Processors (Contract)', time='Jan Year 2022'),
 Product(name='Grits', supplier=15.218261005112497, cost='Iowa Corn Processors (Contract)', time='Feb Year 2022'),
 Product(name='Grits', supplier=16.531120465525, cost='Iowa Corn Processors (Contract)', time='Mar Year 2022'),
 Product(name='Grits', supplier=18.51901292785, cost='Iowa Corn Processors (Contract)', time='Apr Year 2022'),
 Product(name='Grits', supplier=18.859187039049996, cost='Iowa Corn Processors (Contract)', time='May Year 2022'),
 Product(name='Grits', supplier=19.24188291415, cost='Iowa Corn Processors (Contract)', time='Jun Year 2022'),
 Product(name='Grits', supplier=19.385393867312498, cost='Iowa Corn Processors (Contract)', time='Jul Year 2022'),
 Product(name='Grits', supplier=19.475752615599998, cost='Iowa Corn Processors (Contract)', time='Aug Year 2022'),
 Product(name='Grits', supplier=18.27596104202355, cost='Iowa Corn Processors (Contract)', time='Sep Year 2022'),
 Product(name='Grits', supplier=15.898969633761986, cost='Iowa Corn Processors (Contract)', time='Oct Year 2022'),
 Product(name='Grits', supplier=15.968043282851744, cost='Iowa Corn Processors (Contract)', time='Nov Year 2022'),
 Product(name='Grits', supplier=16.05963522509962, cost='Iowa Corn Processors (Contract)', time='Dec Year 2022'),
 Product(name='Grits', supplier=15.108147110725001, cost='Iowa Corn Processors (Intermediate)', time='Jan Year 2022'),
 Product(name='Grits', supplier=15.482394320987499, cost='Iowa Corn Processors (Intermediate)', time='Feb Year 2022'),
 Product(name='Grits', supplier=16.822090856275, cost='Iowa Corn Processors (Intermediate)', time='Mar Year 2022'),
 Product(name='Grits', supplier=18.850619213349997, cost='Iowa Corn Processors (Intermediate)', time='Apr Year 2022'),
 Product(name='Grits', supplier=19.197747060549997, cost='Iowa Corn Processors (Intermediate)', time='May Year 2022'),
 Product(name='Grits', supplier=19.588265888649996, cost='Iowa Corn Processors (Intermediate)', time='Jun Year 2022'),
 Product(name='Grits', supplier=19.734710449187496, cost='Iowa Corn Processors (Intermediate)', time='Jul Year 2022'),
 Product(name='Grits', supplier=19.826916283599996, cost='Iowa Corn Processors (Intermediate)', time='Aug Year 2022'),
 Product(name='Grits', supplier=18.602598934595655, cost='Iowa Corn Processors (Intermediate)', time='Sep Year 2022'),
 Product(name='Grits', supplier=16.177017788952224, cost='Iowa Corn Processors (Intermediate)', time='Oct Year 2022'),
 Product(name='Grits', supplier=16.247503420625346, cost='Iowa Corn Processors (Intermediate)', time='Nov Year 2022'),
 Product(name='Grits', supplier=16.34096765757511, cost='Iowa Corn Processors (Intermediate)', time='Dec Year 2022'),
 Product(name='DE95', supplier=15.43, cost='Cargill - Eddyville ', time='Jan Year 2022'),
 Product(name='DE95', supplier=14.51, cost='Cargill - Eddyville ', time='Feb Year 2022'),
 Product(name='DE95', supplier=15.35, cost='Cargill - Eddyville ', time='Mar Year 2022'),
 Product(name='DE95', supplier=17.8, cost='Cargill - Eddyville ', time='Apr Year 2022'),
 Product(name='DE95', supplier=14.59, cost='Cargill - Eddyville ', time='May Year 2022'),
 Product(name='DE95', supplier=17.33, cost='Cargill - Eddyville ', time='Jun Year 2022'),
 Product(name='DE95', supplier=17.73, cost='Cargill - Eddyville ', time='Jul Year 2022'),
 Product(name='DE95', supplier=20.88, cost='Cargill - Eddyville ', time='Aug Year 2022'),
 Product(name='DE95', supplier=19.11, cost='Cargill - Eddyville ', time='Sep Year 2022'),
 Product(name='DE95', supplier=16.58, cost='Cargill - Eddyville ', time='Oct Year 2022'),
 Product(name='DE95', supplier=20.88, cost='Cargill - Eddyville ', time='Nov Year 2022'),
 Product(name='DE95', supplier=16.42, cost='Cargill - Eddyville ', time='Dec Year 2022'),
 Product(name='DE95', supplier=12.89, cost='Tate & Lyle - Decatur ', time='Jan Year 2022'),
 Product(name='DE95', supplier=13.16, cost='Tate & Lyle - Decatur ', time='Feb Year 2022'),
 Product(name='DE95', supplier=14.45, cost='Tate & Lyle - Decatur ', time='Mar Year 2022'),
 Product(name='DE95', supplier=14.89, cost='Tate & Lyle - Decatur ', time='Apr Year 2022'),
 Product(name='DE95', supplier=16.2, cost='Tate & Lyle - Decatur ', time='May Year 2022'),
 Product(name='DE95', supplier=15.51, cost='Tate & Lyle - Decatur ', time='Jun Year 2022'),
 Product(name='DE95', supplier=15.69, cost='Tate & Lyle - Decatur ', time='Jul Year 2022'),
 Product(name='DE95', supplier=14.5, cost='Tate & Lyle - Decatur ', time='Aug Year 2022'),
 Product(name='DE95', supplier=17.16, cost='Tate & Lyle - Decatur ', time='Sep Year 2022'),
 Product(name='DE95', supplier=14.4, cost='Tate & Lyle - Decatur ', time='Oct Year 2022'),
 Product(name='DE95', supplier=14.5, cost='Tate & Lyle - Decatur ', time='Nov Year 2022'),
 Product(name='DE95', supplier=14.53, cost='Tate & Lyle - Decatur ', time='Dec Year 2022'),
 Product(name='DE95', supplier=14.03, cost='Tate & Lyle - Loudon ', time='Jan Year 2022'),
 Product(name='DE95', supplier=14.31, cost='Tate & Lyle - Loudon ', time='Feb Year 2022'),
 Product(name='DE95', supplier=15.6, cost='Tate & Lyle - Loudon ', time='Mar Year 2022'),
 Product(name='DE95', supplier=16.03, cost='Tate & Lyle - Loudon ', time='Apr Year 2022'),
 Product(name='DE95', supplier=17.35, cost='Tate & Lyle - Loudon ', time='May Year 2022'),
 Product(name='DE95', supplier=16.65, cost='Tate & Lyle - Loudon ', time='Jun Year 2022'),
 Product(name='DE95', supplier=16.84, cost='Tate & Lyle - Loudon ', time='Jul Year 2022'),
 Product(name='DE95', supplier=15.64, cost='Tate & Lyle - Loudon ', time='Aug Year 2022'),
 Product(name='DE95', supplier=18.31, cost='Tate & Lyle - Loudon ', time='Sep Year 2022'),
 Product(name='DE95', supplier=15.54, cost='Tate & Lyle - Loudon ', time='Oct Year 2022'),
 Product(name='DE95', supplier=15.64, cost='Tate & Lyle - Loudon ', time='Nov Year 2022'),
 Product(name='DE95', supplier=15.67, cost='Tate & Lyle - Loudon ', time='Dec Year 2022'),
 Product(name='DE95', supplier=14.97, cost='Ingredion - Argo', time='Jan Year 2022'),
 Product(name='DE95', supplier=15.75, cost='Ingredion - Argo', time='Feb Year 2022'),
 Product(name='DE95', supplier=16.13, cost='Ingredion - Argo', time='Mar Year 2022'),
 Product(name='DE95', supplier=17.45, cost='Ingredion - Argo', time='Apr Year 2022'),
 Product(name='DE95', supplier=18.52, cost='Ingredion - Argo', time='May Year 2022'),
 Product(name='DE95', supplier=17.67, cost='Ingredion - Argo', time='Jun Year 2022'),
 Product(name='DE95', supplier=15.6, cost='Ingredion - Argo', time='Jul Year 2022'),
 Product(name='DE95', supplier=15.53, cost='Ingredion - Argo', time='Aug Year 2022'),
 Product(name='DE95', supplier=18.65, cost='Ingredion - Argo', time='Sep Year 2022'),
 Product(name='DE95', supplier=17.68, cost='Ingredion - Argo', time='Oct Year 2022'),
 Product(name='DE95', supplier=15.53, cost='Ingredion - Argo', time='Nov Year 2022'),
 Product(name='DE95', supplier=16.73, cost='Ingredion - Argo', time='Dec Year 2022'),
 Product(name='HFCS', supplier=16.29, cost='Tate & Lyle - Lafayette ', time='Jan Year 2022'),
 Product(name='HFCS', supplier=16.59, cost='Tate & Lyle - Lafayette ', time='Feb Year 2022'),
 Product(name='HFCS', supplier=18.01, cost='Tate & Lyle - Lafayette ', time='Mar Year 2022'),
 Product(name='HFCS', supplier=18.48, cost='Tate & Lyle - Lafayette ', time='Apr Year 2022'),
 Product(name='HFCS', supplier=19.93, cost='Tate & Lyle - Lafayette ', time='May Year 2022'),
 Product(name='HFCS', supplier=19.17, cost='Tate & Lyle - Lafayette ', time='Jun Year 2022'),
 Product(name='HFCS', supplier=19.37, cost='Tate & Lyle - Lafayette ', time='Jul Year 2022'),
 Product(name='HFCS', supplier=18.06, cost='Tate & Lyle - Lafayette ', time='Aug Year 2022'),
 Product(name='HFCS', supplier=20.98, cost='Tate & Lyle - Lafayette ', time='Sep Year 2022'),
 Product(name='HFCS', supplier=17.95, cost='Tate & Lyle - Lafayette ', time='Oct Year 2022'),
 Product(name='HFCS', supplier=18.13, cost='Tate & Lyle - Lafayette ', time='Nov Year 2022'),
 Product(name='HFCS', supplier=18.09, cost='Tate & Lyle - Lafayette ', time='Dec Year 2022'),
 Product(name='HFCS', supplier=17.55, cost='Tate & Lyle - Loudon ', time='Jan Year 2022'),
 Product(name='HFCS', supplier=17.85, cost='Tate & Lyle - Loudon ', time='Feb Year 2022'),
 Product(name='HFCS', supplier=19.26, cost='Tate & Lyle - Loudon ', time='Mar Year 2022'),
 Product(name='HFCS', supplier=19.74, cost='Tate & Lyle - Loudon ', time='Apr Year 2022'),
 Product(name='HFCS', supplier=21.18, cost='Tate & Lyle - Loudon ', time='May Year 2022'),
 Product(name='HFCS', supplier=20.42, cost='Tate & Lyle - Loudon ', time='Jun Year 2022'),
 Product(name='HFCS', supplier=20.62, cost='Tate & Lyle - Loudon ', time='Jul Year 2022'),
 Product(name='HFCS', supplier=19.31, cost='Tate & Lyle - Loudon ', time='Aug Year 2022'),
 Product(name='HFCS', supplier=22.23, cost='Tate & Lyle - Loudon ', time='Sep Year 2022'),
 Product(name='HFCS', supplier=19.2, cost='Tate & Lyle - Loudon ', time='Oct Year 2022'),
 Product(name='HFCS', supplier=19.39, cost='Tate & Lyle - Loudon ', time='Nov Year 2022'),
 Product(name='HFCS', supplier=19.34, cost='Tate & Lyle - Loudon ', time='Dec Year 2022'),
 Product(name='HFCS', supplier=15.39, cost='Ingredion - Argo', time='Jan Year 2022'),
 Product(name='HFCS', supplier=15.51, cost='Ingredion - Argo', time='Feb Year 2022'),
 Product(name='HFCS', supplier=15.66, cost='Ingredion - Argo', time='Mar Year 2022'),
 Product(name='HFCS', supplier=16.52, cost='Ingredion - Argo', time='Apr Year 2022'),
 Product(name='HFCS', supplier=18.08, cost='Ingredion - Argo', time='May Year 2022'),
 Product(name='HFCS', supplier=18.45, cost='Ingredion - Argo', time='Jun Year 2022'),
 Product(name='HFCS', supplier=17.18, cost='Ingredion - Argo', time='Jul Year 2022'),
 Product(name='HFCS', supplier=16.38, cost='Ingredion - Argo', time='Aug Year 2022'),
 Product(name='HFCS', supplier=19.75, cost='Ingredion - Argo', time='Sep Year 2022'),
 Product(name='HFCS', supplier=18.71, cost='Ingredion - Argo', time='Oct Year 2022'),
 Product(name='HFCS', supplier=17.74, cost='Ingredion - Argo', time='Nov Year 2022'),
 Product(name='HFCS', supplier=17.67, cost='Ingredion - Argo', time='Dec Year 2022')]

In [48]:
@dataclass
class Lane(): 
    name: str
    customer: str
    supplier: str
    transport_cost: float
    product: Product
        
    def __init__(self, name, customer, supplier, transport_cost, product):
        self.name = name
        self.customer = customer
        self.supplier = supplier
        self.transport_cost = transport_cost
        self.product = product

In [50]:
lanes = []

for tran_index, tran_row in transportation_cost_data.iterrows():
    lanes.append(Lane(tran_row["Product Name"], tran_row["Site To"], tran_row["Site From"], tran_row["Transportation Cost"], products[0]))

In [51]:
lanes

[Lane(name='Grits', customer='01BV', supplier='Bunge - Atchison', transport_cost=6.53, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CV', supplier='Bunge - Atchison', transport_cost=7.55, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CL', supplier='Bunge - Atchison', transport_cost=4.68, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FF', supplier='Bunge - Atchison', transport_cost=6.77, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FC', supplier='Bunge - Atchison', transport_cost=4.24, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01HT', supplier='Bunge - Atchison', transport_cost=3.5, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01JK', supplier='Bunge - Atchison', transport_cost=8.15, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01LA', supplier='Bunge - Atchison', transport_cost=6.77, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01MM', supplier='Bunge - Atchison', transport_cost=8.6, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01NW', supplier='Bunge - Atchison', transport_cost=6.66, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01SL', supplier='Bunge - Atchison', transport_cost=2.72, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01WM', supplier='Bunge - Atchison', transport_cost=8.91, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01BV', supplier='Bunge - Crete', transport_cost=6.95, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CV', supplier='Bunge - Crete', transport_cost=6.84, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CL', supplier='Bunge - Crete', transport_cost=6.45, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FF', supplier='Bunge - Crete', transport_cost=6.77, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FC', supplier='Bunge - Crete', transport_cost=3.09, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01HT', supplier='Bunge - Crete', transport_cost=3.5, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01JK', supplier='Bunge - Crete', transport_cost=7.53, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01LA', supplier='Bunge - Crete', transport_cost=6.74, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01MM', supplier='Bunge - Crete', transport_cost=7.32, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01NW', supplier='Bunge - Crete', transport_cost=5.39, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01SL', supplier='Bunge - Crete', transport_cost=2.5, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01WM', supplier='Bunge - Crete', transport_cost=9.05, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01BV', supplier='Bunge - Danville', transport_cost=4.96, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CV', supplier='Bunge - Danville', transport_cost=4.94, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CL', supplier='Bunge - Danville', transport_cost=2.39, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FF', supplier='Bunge - Danville', transport_cost=8.57, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FC', supplier='Bunge - Danville', transport_cost=4.71, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01HT', supplier='Bunge - Danville', transport_cost=4.06, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01JK', supplier='Bunge - Danville', transport_cost=5.84, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01LA', supplier='Bunge - Danville', transport_cost=8.08, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01MM', supplier='Bunge - Danville', transport_cost=4.32, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01NW', supplier='Bunge - Danville', transport_cost=3.29, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01SL', supplier='Bunge - Danville', transport_cost=1.98, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01WM', supplier='Bunge - Danville', transport_cost=6.06, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01LA', supplier='Cargill - Eddyville ', transport_cost=5.65, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01BV', supplier='Didion_Cambria', transport_cost=5.11, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01CV', supplier='Didion_Cambria', transport_cost=4.95, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01MM', supplier='Didion_Cambria', transport_cost=4.56, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01WM', supplier='Didion_Cambria', transport_cost=5.56, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01BV', supplier='Ingredion - Argo', transport_cost=2.15, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='HFCS', customer='01BV', supplier='Ingredion - Argo', transport_cost=5.63, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FF', supplier='Iowa Corn Processors (Contract)', transport_cost=4.61, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FC', supplier='Iowa Corn Processors (Contract)', transport_cost=3.28, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01HT', supplier='Iowa Corn Processors (Contract)', transport_cost=3.56, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01JK', supplier='Iowa Corn Processors (Contract)', transport_cost=5.8, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01LA', supplier='Iowa Corn Processors (Contract)', transport_cost=4.79, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01SL', supplier='Iowa Corn Processors (Contract)', transport_cost=2.81, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FF', supplier='Iowa Corn Processors (Intermediate)', transport_cost=4.61, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01FC', supplier='Iowa Corn Processors (Intermediate)', transport_cost=3.28, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01HT', supplier='Iowa Corn Processors (Intermediate)', transport_cost=3.56, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01JK', supplier='Iowa Corn Processors (Intermediate)', transport_cost=5.8, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01LA', supplier='Iowa Corn Processors (Intermediate)', transport_cost=4.79, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='Grits', customer='01SL', supplier='Iowa Corn Processors (Intermediate)', transport_cost=2.81, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01CV', supplier='Tate & Lyle - Decatur ', transport_cost=1.66, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01CL', supplier='Tate & Lyle - Decatur ', transport_cost=3.9, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01JK', supplier='Tate & Lyle - Decatur ', transport_cost=3.44, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='HFCS', customer='01LA', supplier='Tate & Lyle - Lafayette ', transport_cost=7.49, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='DE95', customer='01CV', supplier='Tate & Lyle - Loudon ', transport_cost=1.66, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022')),
 Lane(name='HFCS', customer='01CV', supplier='Tate & Lyle - Loudon ', transport_cost=1.66, product=Product(name='Grits', supplier=15.612400000000003, cost='Bunge - Danville', time='Jan Year 2022'))]